@charset "UTF-8";
.drag{
  background-color: #FEFEFE;
  border: 3px solid #83b1e0;
  border-radius: 100%;
  cursor: move;
  z-index: 9999;
  display: table;
}
.drag h3{
  display: table-cell; vertical-align: middle;
}
.drag-holder{
  background-color: #FEFEFE;
  border: 3px solid #83b1e0;
  border-radius: 100%;
  position: absolute;
  top: 0;
  left: 25%;
  z-index: 0;
}
.gradiente{
  background: -moz-radial-gradient(center, ellipse cover, #feffff 0%, #e7effa 99%, #e7effa 100%); /* ff3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #feffff), color-stop(99%, #e7effa), color-stop(100%, #e7effa)); /* safari4+,chrome */
  background: -webkit-radial-gradient(center, ellipse cover, #feffff 0%, #e7effa 99%, #e7effa 100%); /* safari5.1+,chrome10+ */
  background: -o-radial-gradient(center, ellipse cover, #feffff 0%, #e7effa 99%, #e7effa 100%); /* opera 11.10+ */
  background: -ms-radial-gradient(center, ellipse cover, #feffff 0%, #e7effa 99%, #e7effa 100%); /* ie10+ */
  background: radial-gradient(ellipse at center, #feffff 0%, #e7effa 99%, #e7effa 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#e7effa',GradientType=1 ); /* ie6-9 */
}
.pelicula{
  position: absolute;
  width: 100%;
  height: 70%;
  top: 0;
  left: 0;
}
.card{
  padding: 0.5em;
  padding-bottom: 1.5em;
  width: 100%;
  min-height: 100px;
}
.card-header{
  vertical-align: text-top;
  display: table-cell;
  padding-left: 0.5em;
}
.card-content{
  margin-top: 1em;
}
.droppable{
  border: 3px dashed #83b1e0;
  border-radius: 100%;
  margin-top: 1em;
  background-color: #FEFEFE;
  display: table;
}
.text-drop{
  text-align: center;
  font-size: 0.75rem;
}
.text-center{
  display: table-cell; vertical-align: middle;
}
.display-table{
  display: table;
}
.certificado{
  padding: 0.5em;
  width: 100%;
  min-height: 100px;
}
.card{
  width: 100%;
  min-height: 100px;
}
.card p{
  margin: 0;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
.button-print{
  margin-bottom: 1em;
  width: auto;
  border-radius: 2px;
  box-shadow: none;
  padding: 0.75em 0.5em;
  border: 0;
  color: #fff;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#334275+0,222f5b+0,222f5b+11,222f5b+45,222f5b+45,334174+95,334174+99,222f5b+100 */
  background: #334275; /* Old browsers */
  background: -moz-linear-gradient(left,  #334275 0%, #222f5b 0%, #222f5b 11%, #222f5b 45%, #222f5b 45%, #334174 95%, #334174 99%, #222f5b 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  #334275 0%,#222f5b 0%,#222f5b 11%,#222f5b 45%,#222f5b 45%,#334174 95%,#334174 99%,#222f5b 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  #334275 0%,#222f5b 0%,#222f5b 11%,#222f5b 45%,#222f5b 45%,#334174 95%,#334174 99%,#222f5b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#334275', endColorstr='#222f5b',GradientType=1 ); /* IE6-9 */
}
.t-laranja-2{
  color:#ea8110;
}
.t-azul-escuro{
  color: #222f5b;
}
.table-hour{
  margin: 1em auto;
}
.header-cell, .body-cell{
  border-left: 1px solid #fff;
}
.body-table{
  border-bottom: 1px solid #eff5fc;
}
.line-azul{
  background-color: #eff5fc;
}
.subtitle,.title{
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 0;
  margin-top: 1.5em;
}
.info-detail p{
  margin: 0.5em 0;
}
