@charset "UTF-8";
.draggable,.droppable{
  min-height: 150px;
  border: 1px solid #f1f1f1;
  padding: 1em;
  margin: 1em 0.5em;
  cursor: move;
}
.drag{
  background-color: #FEFEFE;
  border: 3px solid #09213d;
  padding: 1em;
  margin: 0.5em 0.15em;
}
.droppable{
  background-color: #f1f1f1;
}
.certificado{
  padding: 0.5em;
  width: calc(100% - 0.1em);
  height: 100px;
  border-radius: 2px;
  margin: 0.5em 0em;
}
.card{
  max-width: 400px;
  min-height: 100px;
  margin: 1em auto;
  border-radius: 2px;
}
